In [8]:
########################################################################
# import default python-library
########################################################################
import pickle
import os
import sys
import glob
########################################################################


########################################################################
# import additional python-library
########################################################################
import numpy as np
import pandas as pd
import librosa
import librosa.core
import librosa.display
import librosa.feature
import yaml
import logging
# from import
from tqdm import tqdm
from sklearn import metrics
from keras.models import Model
from keras.layers import Input, Dense
########################################################################

In [9]:
os.chdir('C:/workspace/autoencoder/01_study/pendas/36cc_csv')

In [10]:
csv_path = './'

In [11]:
print("csv folders:", csv_path)

csv folders: ./

In [13]:
file_list = os.listdir(csv_path)
print(file_list)

['36cc_NO_2208211119H0010019698_abnormal.csv', '36cc_NO_2208212119H0010019788_abnormal.csv', '36cc_OK_2208211119H0010019498.csv', '36cc_OK_2208211119H0010019508.csv', '36cc_OK_2208211119H0010019528.csv', '36cc_OK_2208211119H0010019538.csv', '36cc_OK_2208211119H0010019548.csv', '36cc_OK_2208211119H0010019558.csv', '36cc_OK_2208211119H0010019588.csv', '36cc_OK_2208211119H0010019608.csv', '36cc_OK_2208211119H0010019618.csv', '36cc_OK_2208211119H0010019628.csv', '36cc_OK_2208211119H0010019638.csv', '36cc_OK_2208211119H0010019658.csv', '36cc_OK_2208211119H0010019678.csv', '36cc_OK_2208211119H0010019688.csv', '36cc_OK_2208211119H0010019708.csv', '36cc_OK_2208211119H0010019718.csv', '36cc_OK_2208212119H0010019728.csv', '36cc_OK_2208212119H0010019738.csv', '36cc_OK_2208212119H0010019768.csv', '36cc_OK_2208212119H0010019778.csv', '36cc_OK_2208212119H0010019808.csv', '36cc_OK_2208212119H0010019828.csv', '36cc_OK_2208212119H0010019838.csv', '36cc_OK_2208212119H0010019848.csv', '36cc_OK_2208212119H0010019858.csv', '36cc_OK_2208212119H0010019948.csv', '36cc_OK_2208212119H0010019968.csv', '36cc_OK_2208212119H0010020048.csv', '36cc_OK_2208212119H0010020058.csv', '36cc_OK_2208212119H0010020068.csv', '36cc_OK_2208212119H0010020088.csv', '36cc_OK_2208212119H0010020098.csv', '36cc_OK_2208212119H0010020378.csv', '36cc_OK_2208212119H0010020398.csv', '36cc_OK_2208212119H0010020438.csv', '36cc_OK_2208212119H0010020478.csv', '36cc_OK_2208213119H0010021238.csv', '36cc_OK_2208213119H0010021378.csv', 'csv.xlsx']

In [14]:
csv_list = []
df = pd.DataFrame()
for j in tqdm(file_list, position=0, leave=True):
    csv_name = csv_path+j
    df_csv = pd.read_csv(csv_name, header=None)
    df = pd.concat([df,df_csv])
    print(csv_name, df.shape)
print(csv_list)

  2%|▏         | 1/41 [00:17<11:52, 17.82s/it]

./36cc_NO_2208211119H0010019698_abnormal.csv (1, 1295462)

  5%|▍         | 2/41 [00:36<11:52, 18.27s/it]

./36cc_NO_2208212119H0010019788_abnormal.csv (2, 1295462)

  7%|▋         | 3/41 [00:55<11:47, 18.62s/it]

./36cc_OK_2208211119H0010019498.csv (3, 1295462)

 10%|▉         | 4/41 [01:15<11:43, 19.00s/it]

./36cc_OK_2208211119H0010019508.csv (4, 1295462)

 12%|█▏        | 5/41 [01:33<11:17, 18.83s/it]

./36cc_OK_2208211119H0010019528.csv (5, 1295462)

 15%|█▍        | 6/41 [01:52<11:00, 18.87s/it]

./36cc_OK_2208211119H0010019538.csv (6, 1295462)

 17%|█▋        | 7/41 [02:11<10:48, 19.06s/it]

./36cc_OK_2208211119H0010019548.csv (7, 1295462)

 20%|█▉        | 8/41 [02:31<10:29, 19.08s/it]

./36cc_OK_2208211119H0010019558.csv (8, 1295462)

 22%|██▏       | 9/41 [02:50<10:18, 19.34s/it]

./36cc_OK_2208211119H0010019588.csv (9, 1295462)

 24%|██▍       | 10/41 [03:09<09:53, 19.15s/it]

./36cc_OK_2208211119H0010019608.csv (10, 1295462)

 27%|██▋       | 11/41 [03:28<09:32, 19.09s/it]

./36cc_OK_2208211119H0010019618.csv (11, 1295462)

 29%|██▉       | 12/41 [03:47<09:12, 19.06s/it]

./36cc_OK_2208211119H0010019628.csv (12, 1295462)

 32%|███▏      | 13/41 [04:05<08:46, 18.80s/it]

./36cc_OK_2208211119H0010019638.csv (13, 1295462)

 34%|███▍      | 14/41 [04:24<08:25, 18.73s/it]

./36cc_OK_2208211119H0010019658.csv (14, 1295462)

 37%|███▋      | 15/41 [04:43<08:06, 18.73s/it]

./36cc_OK_2208211119H0010019678.csv (15, 1295462)

 39%|███▉      | 16/41 [05:02<07:49, 18.78s/it]

./36cc_OK_2208211119H0010019688.csv (16, 1295462)

 41%|████▏     | 17/41 [05:21<07:32, 18.86s/it]

./36cc_OK_2208211119H0010019708.csv (17, 1295462)

 44%|████▍     | 18/41 [05:39<07:11, 18.78s/it]

./36cc_OK_2208211119H0010019718.csv (18, 1295462)

 46%|████▋     | 19/41 [05:58<06:53, 18.78s/it]

./36cc_OK_2208212119H0010019728.csv (19, 1295462)

 49%|████▉     | 20/41 [06:17<06:34, 18.78s/it]

./36cc_OK_2208212119H0010019738.csv (20, 1295462)

 51%|█████     | 21/41 [06:36<06:16, 18.82s/it]

./36cc_OK_2208212119H0010019768.csv (21, 1295462)

 54%|█████▎    | 22/41 [06:54<05:56, 18.74s/it]

./36cc_OK_2208212119H0010019778.csv (22, 1295462)

 56%|█████▌    | 23/41 [07:13<05:37, 18.76s/it]

./36cc_OK_2208212119H0010019808.csv (23, 1295462)

 59%|█████▊    | 24/41 [07:32<05:19, 18.80s/it]

./36cc_OK_2208212119H0010019828.csv (24, 1295462)

 61%|██████    | 25/41 [07:51<05:01, 18.83s/it]

./36cc_OK_2208212119H0010019838.csv (25, 1295462)

 63%|██████▎   | 26/41 [08:10<04:43, 18.87s/it]

./36cc_OK_2208212119H0010019848.csv (26, 1295462)

 66%|██████▌   | 27/41 [08:29<04:27, 19.08s/it]

./36cc_OK_2208212119H0010019858.csv (27, 1295462)

 68%|██████▊   | 28/41 [08:48<04:06, 18.98s/it]

./36cc_OK_2208212119H0010019948.csv (28, 1295462)

 71%|███████   | 29/41 [09:07<03:47, 18.99s/it]

./36cc_OK_2208212119H0010019968.csv (29, 1295462)

 73%|███████▎  | 30/41 [09:26<03:28, 18.95s/it]

./36cc_OK_2208212119H0010020048.csv (30, 1295462)

 76%|███████▌  | 31/41 [09:45<03:10, 19.02s/it]

./36cc_OK_2208212119H0010020058.csv (31, 1295462)

 78%|███████▊  | 32/41 [10:04<02:50, 18.97s/it]

./36cc_OK_2208212119H0010020068.csv (32, 1295462)

 80%|████████  | 33/41 [10:23<02:31, 18.97s/it]

./36cc_OK_2208212119H0010020088.csv (33, 1295462)

 83%|████████▎ | 34/41 [10:42<02:13, 19.01s/it]

./36cc_OK_2208212119H0010020098.csv (34, 1295462)

 85%|████████▌ | 35/41 [11:01<01:53, 18.96s/it]

./36cc_OK_2208212119H0010020378.csv (35, 1295462)

 88%|████████▊ | 36/41 [11:20<01:34, 18.97s/it]

./36cc_OK_2208212119H0010020398.csv (36, 1295462)

 90%|█████████ | 37/41 [11:39<01:16, 19.04s/it]

./36cc_OK_2208212119H0010020438.csv (37, 1295462)

 93%|█████████▎| 38/41 [11:58<00:57, 19.06s/it]

./36cc_OK_2208212119H0010020478.csv (38, 1295462)

 95%|█████████▌| 39/41 [12:17<00:38, 19.08s/it]

./36cc_OK_2208213119H0010021238.csv (39, 1295462)

 98%|█████████▊| 40/41 [12:36<00:18, 18.92s/it]

./36cc_OK_2208213119H0010021378.csv (40, 1295462)

UnicodeDecodeError: 'utf-8' codec can't decode bytes in position 15-16: invalid continuation byte

In [15]:
print(type(df))
print(df.shape)
last_column = df.shape[1]
print(last_column)

<class 'pandas.core.frame.DataFrame'>
(40, 1295462)
1295462

In [18]:
df.head()

,0,1,2,3,4,5,6,7,8,9,...,1295452,1295453,1295454,1295455,1295456,1295457,1295458,1295459,1295460,1295461
0,195,173,188,185,179,189,176,191,180,185,...,0,0,0,0,0,0,0,0,0,0
0,-162,-168,-153,-167,-157,-156,-165,-170,-170,-150,...,0,0,0,0,0,0,0,0,0,0
0,-6,-13,-17,-9,-8,-1,-27,-18,12,-20,...,0,0,0,0,0,0,0,0,0,0
0,-15,-8,-24,-7,-10,-2,-21,-15,-5,-22,...,0,0,0,0,0,0,0,0,0,0
0,0,-1,20,15,14,5,3,5,0,10,...,0,0,0,0,0,0,0,0,0,0

In [19]:
label = ['0','0','1','1','1','1','1','1','1','1'\
        ,'1','1','1','1','1','1','1','1','1','1'\
        ,'1','1','1','1','1','1','1','1','1','1'\
        ,'1','1','1','1','1','1','1','1','1','1']
print(label)

['0', '0', '1', '1', '1', '1', '1', '1', '1', '1', '1', '1', '1', '1', '1', '1', '1', '1', '1', '1', '1', '1', '1', '1', '1', '1', '1', '1', '1', '1', '1', '1', '1', '1', '1', '1', '1', '1', '1', '1']

In [20]:
df[last_column] = label

In [21]:
print(df.shape)

(40, 1295463)

In [22]:
df.head()

,0,1,2,3,4,5,6,7,8,9,...,1295453,1295454,1295455,1295456,1295457,1295458,1295459,1295460,1295461,1295462
0,195,173,188,185,179,189,176,191,180,185,...,0,0,0,0,0,0,0,0,0,0
0,-162,-168,-153,-167,-157,-156,-165,-170,-170,-150,...,0,0,0,0,0,0,0,0,0,0
0,-6,-13,-17,-9,-8,-1,-27,-18,12,-20,...,0,0,0,0,0,0,0,0,0,1
0,-15,-8,-24,-7,-10,-2,-21,-15,-5,-22,...,0,0,0,0,0,0,0,0,0,1
0,0,-1,20,15,14,5,3,5,0,10,...,0,0,0,0,0,0,0,0,0,1

In [25]:
address = 'C:\\workspace\\autoencoder\\01_study\\pendas\\'

In [31]:
df.to_csv(path_or_buf=address+'36cc_csv_cut_merge_labeled.csv', header=False)

In [32]:
os.chdir('C:/workspace/autoencoder/01_study/pendas')
csv_path = './'
csv_name2 = csv_path+'36cc_csv_cut_merge_labeled.csv'

In [33]:
df_csv_test2 = pd.read_csv(csv_name2, header=None)

In [34]:
print(df_csv_test2.shape)
df_csv_test2.head()

(40, 1295464)

,0,1,2,3,4,5,6,7,8,9,...,1295454,1295455,1295456,1295457,1295458,1295459,1295460,1295461,1295462,1295463
0,0,195,173,188,185,179,189,176,191,180,...,0,0,0,0,0,0,0,0,0,0
1,0,-162,-168,-153,-167,-157,-156,-165,-170,-170,...,0,0,0,0,0,0,0,0,0,0
2,0,-6,-13,-17,-9,-8,-1,-27,-18,12,...,0,0,0,0,0,0,0,0,0,1
3,0,-15,-8,-24,-7,-10,-2,-21,-15,-5,...,0,0,0,0,0,0,0,0,0,1
4,0,0,-1,20,15,14,5,3,5,0,...,0,0,0,0,0,0,0,0,0,1

In [ ]:
df.drop([df.columns[1295463]], axis=1)

In [ ]:
df.drop([''],axis=1)

In [ ]:
print(df.shape)

,0,1,2,3,4,5,6,7,8,9,...,1295452,1295453,1295454,1295455,1295456,1295457,1295458,1295459,1295460,1295461
0,195,173,188,185,179,189,176,191,180,185,...,0,0,0,0,0,0,0,0,0,0
0,-162,-168,-153,-167,-157,-156,-165,-170,-170,-150,...,0,0,0,0,0,0,0,0,0,0
0,-6,-13,-17,-9,-8,-1,-27,-18,12,-20,...,0,0,0,0,0,0,0,0,0,0
0,-15,-8,-24,-7,-10,-2,-21,-15,-5,-22,...,0,0,0,0,0,0,0,0,0,0
0,0,-1,20,15,14,5,3,5,0,10,...,0,0,0,0,0,0,0,0,0,0

In [ ]:
# df.insert(df.shape[1],label)

In [ ]:
print(type(df))
print(df.shape)
last_column = df.shape[1]
print(last_column)

In [ ]:
last_column = df.shape[1]
print(last_column)

In [ ]:
print(df.head())

In [ ]:
df[1295461]

In [ ]:
1295463

In [ ]:
df01 = pd.read_csv('./36cc_csv/36cc_OK_2208211119H0010019498.csv', header=None)

In [ ]:
print(df01.shape)